body {
    background-color: lightgray;
    font-family: Arial;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: black;
}

ul {
    color: green;
}

a {
    color: red;
}